body {
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pusher {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.failed-cases-container {
  margin: 20px;
  padding: 10px 30px;
  text-align: left;
}

.failed-cases-container > li {
  padding: 5px;
}

.report {
  border: 1px solid black;
  margin: 10px 15%;
  padding: 0 20px;
  text-align: left;
}

table > thead >tr > td {
  width: 200px;
  text-align: center;
}